#title-block {
  width: 20%;
  background-color: #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#title-block h5 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-weight: 800;
  letter-spacing: 1rem;
  font-size: 7rem;
  color: #fff;
  text-shadow: -10px -5px 1px lightslategray;
}

#photo-block {
  width: 30%;
  background-color: #fff;
}

#photo-block .carousel-inner {
  height: 100vh;
}

#photo-block .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#photo-block .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#content-block {
  position: relative;
  width: 50%;
  padding: 2rem;
  background-color: #DDD9D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-block p {
  text-align: center;
  display: inline-block;
}

#content-block .content {
  font-size: 1.2rem;
}

#content-block .photographer {
  font-size: 0.8rem;
  color: lightslategray;
}

#content-block .carousel_next_block {
  position: absolute;
  top: 0;
  left: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #364652;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-block .carousel_next_block :hover {
  cursor: pointer;
}

#content-block .carousel_next_block .control_next {
  width: 23px;
}

#content-block .carousel_back_block {
  position: absolute;
  top: 100px;
  left: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #364652;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-block .carousel_back_block :hover {
  cursor: pointer;
}

#content-block .carousel_back_block .control_back {
  width: 23px;
}

#title-block-2 {
  width: 20%;
  background-color: #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#title-block-2 h5 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-weight: 800;
  letter-spacing: 1rem;
  font-size: 7rem;
  color: #fff;
  text-shadow: -10px -5px 1px lightslategray;
}

#photo-block-2 {
  width: 30%;
  height: 100vh;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

#photo-block-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
  margin: 0;
}

#content-block-2 {
  width: 50%;
  padding: 2rem;
  background-color: #DDD9D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-block-2 p {
  text-align: center;
  display: inline-block;
}

#content-block-2 .content {
  font-size: 1.2rem;
}

#content-block-2 .photographer {
  font-size: 0.8rem;
  color: lightslategray;
}
/*# sourceMappingURL=08.css.map */