body {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAD0C8;
}

.horizontal-wrap {
  width: 300px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.horizontal-wrap .bookDeepBlue:nth-child(2) {
  background-color: #35637a !important;
}

.bookRed {
  width: 50px;
  height: 100%;
  background-color: firebrick;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 0.5px solid #7B7B7B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bookRed .decoration-line {
  width: 100%;
  height: 10px;
  background-color: #901b1b;
}

.bookRed .decoration-line:nth-child(2) {
  width: 20px;
  height: 70%;
  border-radius: 5px;
}

.bookDeepBlue {
  width: 100%;
  height: 50px;
  background-color: #3a6c85;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 0.5px solid #7B7B7B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bookDeepBlue .decoration-line {
  width: 10px;
  height: 100%;
  background-color: #2e5569;
}

.bookDeepBlue .decoration-line:nth-child(1) {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.bookDeepBlue .bookName {
  width: 70%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bookDeepBlue .bookName .bookName-decoration-line {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #2e5569;
}

.bookDeepBlue .bookName .bookName-decoration-line:nth-child(1) {
  width: 70%;
}

.bookDeepBlue .bookName .bookName-decoration-line:nth-child(2) {
  width: 60%;
}

.bookBlack {
  width: 60px;
  height: 100%;
  background-color: #3f3e45;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 0.5px solid #7B7B7B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bookBlack .top-wrap {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bookBlack .top-wrap .decoration-line {
  width: 100%;
  height: 15px;
  background-color: #fcbb3d;
}

.bookBlack .bookName {
  width: 20px;
  height: 50%;
  border-radius: 5px;
  background-color: #fcbb3d;
  margin-bottom: 2rem;
}

#bookcase-wrap .bookcase-block {
  width: 500px;
  height: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1rem solid #a15016;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #342d25;
}
/*# sourceMappingURL=bookcase.css.map */