
$fontEN:'Merriweather';

body{
    color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,h3,p {
    display: inline-block;
    padding: 0;
    margin: 0;
}

a {
    color: #303030;
    text-decoration: none;
}

#quote-wrap{
    width: 580px;
    height: 580px;
    background-color: #DEDDDD;
    padding: 3.5rem;
    font-family: $fontEN;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.top-tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    p{
        display: block;
    }
}

.quote-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    h1 {
        font-size: 4rem;
    }
}

.quote-speaker {
    font-size: 2.5rem;
    font-weight: 600;
}

.speaker-information {
    display: flex;
    font-size: .6rem;
    .sortInfo {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .introduction {
        flex: 3;
        text-align: justify;
    }
}


