// * {
//     outline: 0.5px solid olivedrab;
// }

$colorDeepBlue:#3a6c85;
$colorLightOrange:#fcbb3d;
$colorRed:firebrick;
$colorGrey: #7B7B7B;


@mixin book {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 0.5px solid $colorGrey;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAD0C8;
}


// 橫向設定
.horizontal-wrap {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    .bookDeepBlue:nth-child(2) {
        background-color: darken($colorDeepBlue, 3) !important;
    }
}

// 紅色的書
.bookRed {
    width: 50px;
    height: 100%;
    background-color: $colorRed;
    @include book;
    justify-content: space-around;
    .decoration-line {
        width: 100%;
        height: 10px;
        background-color: darken($colorRed, 8);
    }
    .decoration-line:nth-child(2) {
        width: 20px;
        height: 70%;
        border-radius: 5px;
    }
}

// 深藍色的書
.bookDeepBlue {
    width: 100%;
    height: 50px;
    background-color: $colorDeepBlue;
    @include book;
    flex-direction: row-reverse;
    justify-content: space-around;
    .decoration-line {
        width: 10px;
        height: 100%;
        background-color: darken($colorDeepBlue, 8);
    }
    .decoration-line:nth-child(1) {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    .bookName {
        width: 70%;
        height: 45px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        .bookName-decoration-line {
            width: 100%;
            height: 10px;
            border-radius: 5px;
            background-color: darken($colorDeepBlue, 8);
        }
        .bookName-decoration-line:nth-child(1) {
            width: 70%;
        }
        .bookName-decoration-line:nth-child(2) {
            width: 60%;
        }
    }
}

// 黑色的書
.bookBlack {
    width: 60px;
    height: 100%;
    background-color: #3f3e45;
    @include book;
    justify-content: space-between;
    .top-wrap{
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .decoration-line {            
            width: 100%;
            height: 15px;
            background-color: $colorLightOrange;
        }
    }
    .bookName {
        width: 20px;
        height: 50%;
        border-radius: 5px;
        background-color: $colorLightOrange;
        margin-bottom: 2rem;
    }
}

#bookcase-wrap {
    // width: 100%;
    // height: 100vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    .bookcase-block {
        width: 500px;
        height: 300px;
        box-sizing: border-box;
        border: 1rem solid lighten(SaddleBrown, 5);
        display: flex;
        align-items: flex-end;
        background-color: #342d25;
    }
}